[report]
show_missing = True
omit =
    */python?.?/*
    *serializers*
    *renderers*
    *urls*
    *venv*
    *tests*
    *__init__*
    *manage*
    */settings/*
    *wsgi*
    *admin*
    *articles/models*
    */migrations/*
    */venv/*
   *email_reg_util*
    