[report]
show_missing = True
omit =
    */python?.?/*
    *serializers*
    *renderers*
    *urls*
    *venv*
    *tests*
    *__init__*
    *manage*
    *0001_initial*
    */settings/*
    *wsgi*
    